<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card border border-primary">
                <div class="card-header bg-transparent border-primary">
                    <h5 class="my-0 text-primary"><i class="mdi mdi-bullseye-arrow mr-3"></i>Movimentações Futuras</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 20rem;">
                        <table class="table mb-0">

                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data</th>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>27/05/2020</td>
                                    <td>MagaLu</td>
                                    <td class="text-success">R$ 400</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>27/05/2020</td>
                                    <td>Via Varejo</td>
                                    <td class="text-success">R$ 400</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>27/05/2020</td>
                                    <td>B2W</td>
                                    <td class="text-success">R$ 400</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>27/05/2020</td>
                                    <td>Forncedor</td>
                                    <td class="text-danger">R$ -400</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>27/05/2020</td>
                                    <td>Mercado Livre</td>
                                    <td class="text-success">R$ 400</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>27/05/2020</td>
                                    <td>B2W</td>
                                    <td class="text-success">R$ 400</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border border-primary">
                <div class="card-header bg-transparent border-primary">
                    <h5 class="my-0 text-primary"><i class="mdi mdi-bullseye-arrow mr-3"></i>Fluxo de Caixa</h5>
                </div>
                <div class="card-body">
                    <div echarts [options]="lineBarChart" class="demo-chart" style="height: 20rem;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card fl">
                <div class="card-header bg-transparent border-primary">
                    <h5 class="my-0 text-primary text-danger" style="font-size: 2rem; font-weight: 600;">Saídas</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                    </div>
                    <div class="row mb-2">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-8">
                            <div class="text-sm-right">
                                <button type="button" class="btn btn-danger btn-rounded mb-2 mr-2"
                                    (click)="openModal(content)"><i class="mdi mdi-plus mr-1"></i>
                                    Adicionar Saída</button>
                            </div>
                        </div><!-- end col-->
                    </div>


                    <!-- Table data -->
                    <app-table-cashflow2 [cashflow2]="cashflow2"></app-table-cashflow2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Adicionar fluxo de caixa</h5>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <label for="cars">Selecione o Marketplace:</label>
                    <select name="marketplace" id="marketplace">
                        <option value="Mercado Livre">Mercado Livre</option> 
                        <option value="B2W">B2W</option>
                        <option value="Via Varejo">Via Varejo</option>
                        <option value="Loja Física">Loja Física</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <h3 style="padding-left:4rem;"> Valor total:</h3>
                        <h3 style="padding-left:1rem;" class="text-success">{{totalsum}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <app-cashflow-orders [cashfloworders]="cashfloworders"></app-cashflow-orders> 
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.close('Close click')">Adicionar Saída</button>
    </div>
</ng-template>