<div class="table-responsive mb-0">
  <table class="table table-centered table-nowrap">
    <thead class="thead-light">
    <tr>
      <th>Data</th>
      <th>Descrição</th>
      <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of transactionsPayments" >
      <td>{{ data.date }}</td>
      <td>{{ data.description }}</td>
      <td>{{ data.value }}</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <span style="float:right;font-size: 20px;margin-right: 1rem;color: darkblue;">Total: {{ total }}</span>
</div>
