
<div class="table-responsive mb-0">
  <table class="table table-centered table-nowrap">
    <thead class="thead-light">
      <tr>
        <th>Data</th>
        <th>Identificação</th>
        <th>Valor</th>
        <th>Canal De venda</th>
        <th>Detalhes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of cashflow2">
      
        <td>
          <a href="javascript: void(0);" class="text-body font-weight-bold">{{data.date}}</a>
        </td>
        <td>{{data.id}}</td>

        <td class="text-danger">{{data.total}}</td>
        <td>{{data.marketplace}}</td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="openModal(content)">Detalhes</button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #content role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">Vendas Envolvidas</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <p class="mb-2">
        Identificação do fluxo:
        <span class="text-primary">#SK2540</span>
      </p>
      
      <div class="table-responsive">
        <table class="table table-centered table-nowrap">
          <thead>
            <tr>
              <th scope="col">Identificação da venda</th>
              <th scope="col">Data da venda</th>
              <th scope="col">Valor do venda</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                #SALE2570
              </th>
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">09-07-2020</h5>
                </div>
              </td>
              <td>R$ 200</td>
            </tr>
            <tr>
              <th scope="row">
                #SALE2579
              </th>
              <td>
                <div>
                  <h5 class="text-truncate font-size-14">29/02/2020</h5>
                </div>
              </td>
              <td>R$ 200</td>
            </tr>
            <tr>
              <td colspan="2">
                <h6 class="m-0 text-right">Total:</h6>
              </td>
              <td>R$ 400</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
</div>
<!-- end table -->